body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }

div>img>figcaption {
    font-size: 15px;
    font-weight: 300;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
    color: #606060;
    margin-top: 10px;
    margin-bottom: 20px;
}

#img-sub{
    text-align: center;
}

div > img{
    border-radius: 15px;
}

